#Ativa mecanismo de rescrita do Apache
RewriteEngine On

#Define o caminho base para todas as regras
RewriteBase /kioficina/public/

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
#^(.*)$: É uma expressão regular que captura qualquer coisa após o domínio


