/*--------------------------------------------------------------
    1- Definição das fontes do projeto
----------------------------------------------------------------*/
@font-face {
    font-family: 'PACE';
    src: url('../fonts/pace-racing-car/PACE.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE.woff') format('woff'),
        url('../fonts/pace-racing-car/PACE.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PACE Italic';
    src: url('../fonts/pace-racing-car/PACE-Italic.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE-Italic.woff') format('woff'),
        url('../fonts/pace-racing-car/PACE-Italic.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofast';
    src: url('../fonts/sofast-racing-car/Sofast.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofast Italic';
    src: url('../fonts/sofast-racing-car/Sofast-Italic.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast-Italic.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast-Italic.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --fontNoCorpo: "Sofast";
    --titulos: "PACE";
    --corDoTexto: #4B4B4B;
    --corDeFundo: #101010;
    --titulos-color: #fff;
    --border-color: #fff;
    --white-color: #fff;
    --black-color: #000000;
    --primary-color: #FFFF00;
}

/*--------------------------------------------------------------
    2-  Medidas do site - Desktop
----------------------------------------------------------------*/
.site {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

/*--------------------------------------------------------------
    3-  Medidas do site - Mobile 
----------------------------------------------------------------*/
@media (max-width: 768px) {
    .site {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .site {
        padding: 0 10px;
    }
}


/*--------------------------------------------------------------
    4- Textos do site
----------------------------------------------------------------*/
html,
body {
    color: var(--corDoCorpo);
    background-color: var(--corDeFundo);
    font-family: var(--fontNoCorpo);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x: hidden;
    scroll-behavior: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--titulos-color);
    font-family: var(--titulos);
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 24px;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

button {
    color: inherit;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

/*--------------------------------------------------------------
    5- Topo | Cabeçalho
----------------------------------------------------------------*/
.topo {
    position: fixed !important;
    margin: 0 auto;
    width: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.03);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    >div:nth-child(1) {
        padding: 15px;
    }

    /* LOGO */
    .logo {
        flex-shrink: 0;

        a {
            display: block;
            width: fit-content;
            margin: 0;
            padding: 0;
        }

        img {
            width: 150px;
            display: block;
        }

    }

    /* MENU */
    .menu {

        ul {
            display: flex;
            justify-content: space-around;

            li {
                text-transform: uppercase;
                margin: 15px;
                color: #fff;

                a {
                    font-size: .8em;
                }
            }
        }


        /* SUB MENU */
        .sub-menu {
            display: none;
        }



    }

    /* TELEFONE */
    .fone {
        a {
            display: flex;
            align-items: center;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 10px;
            background-color: rgb(212, 130, 1);
            margin-right: 10px;
            cursor: pointer;
            z-index: 1;
            position: relative;

            img {
                z-index: 5;
            }
        }

        span::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 100px;
            background: rgb(212, 130, 1);
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            animation: anima 1.5s infinite;
            z-index: 0;
        }

    }

    /* LOGIN */
    .login {
        span {
            padding: 10px;
            margin-right: 10px;
            cursor: pointer;
            z-index: 1;
            position: relative;

            img {
                z-index: 5;
                width: 40px;
                height: 40px;
                background-color: #fff;
                border-radius: 50%;
            }
        }

        span:hover {
            padding: 8px;

            img {
                width: 44px;
                height: 44px;
            }
        }
    }

    .border-menu {
        opacity: 0.5;
        height: 1.5px;
        background-color: rgba(255, 255, 255, 0.3490196078);
        width: 100%;
    }

}


.of-height-125 {
    height: 200px;
}


@media screen and (min-width: 1200px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}


/*--------------------------------------------------------------
  6. SLIDER
----------------------------------------------------------------*/

.oficina-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    color: var(--titulos-color);
    overflow: hidden;
}

.oficina-slide {

    .slide-item {
        position: relative;
        height: 100%;
    }

    .slide-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .titulo-slide {
        position: absolute;
        top: 40%;
        margin-left: 300px;
        width: 700px;
    }

    .titulo-slide h2 {
        font-size: 2em;
        font-family: 'PACE Italic';
    }

    .titulo-slide p {
        font-size: 1em;
    }

    .titulo-slide a {
        padding: 20px 45px;
        margin-top: 45px;
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--corDoTexto);
        font-size: 20px;
        font-weight: 500;
        font-family: var(--fontNoCorpo);
        border: none;
        text-transform: uppercase;
        transform-style: preserve-3d;
        transition: background-color 0.4s, transform 0.3s, color 0.3s;
        transform: translate3d(0, 0px, 0px);
    }

    .titulo-slide a:hover {
        transition: background-color 0.4s, transform 0.3s, color 0.3s;
        background-color: var(--corDoTexto);
        color: var(--primary-color);
        transform: translate3d(0px, -7px, 0.01px);
    }

}

.slide {

    /* Arrows */
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 75%;
        z-index: 10;
    }

    .slick-prev {
        left: inherit;
        right: 80px
    }

    .slick-prev:before {
        content: '→';
    }

    [dir='rtl'] .slick-prev:before {
        content: '←';
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 50px;
        opacity: 1;
        color: #FFFF00;
    }

    .slick-next {
        right: 140px;
    }

    .slick-next:before {
        content: '←';
    }

    [dir='rtl'] .slick-next:before {
        content: '→';
    }


    /* Dots */

    .slick-dots {
        counter-reset: dot-counter;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        top: 35%;
        right: 70px;
        bottom: inherit;
        width: 0
    }

    .slick-dots ul {
        list-style-type: none;
        counter-reset: custom-counter;

    }

    .slick-dots li {
        position: relative;

        display: inline-block;

        width: 20px;
        height: 20px;
        margin: 15px 5px;
        padding: 0;

        cursor: pointer;
    }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;

        display: block;

        width: 20px;
        height: 20px;
        padding: 5px;

        cursor: pointer;

        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }

    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }

    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }

    .slick-dots li button:before {
        font-size: 30px;
        line-height: 20px;
        font-family: 'PACE Italic';
        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        content: counter(dot-counter);
        counter-increment: dot-counter;
        text-align: center;

        opacity: .5;
        color: #FFFF00;
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: rgb(78, 76, 76);
    }
}

/* CONTATO INFO - SLIDE  */
.oficina-slide {
    .oficina-contato-info {
        position: absolute;
        width: 100%;
        left: 0;
        top: 160px;
        color: var(--titulos-color);
        display: flex;
        justify-content: center;
    }

    .oficina-contato-info div {
        margin: 0 2%;
    }

    .oficina-contato-info div a {
        display: flex;
        align-items: center;
    }

    .oficina-contato-info span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 10px;
        background-color: rgb(212, 130, 1);
        margin-right: 10px;
        cursor: pointer;
        z-index: 1;
        position: relative;
        box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3),
            0 0 0 10px rgba(212, 130, 1, 0.1);
    }

    .oficina-contato-info h6 {
        font-size: .8em;
    }
}

/* REDE SOCIAL - SLIDE */
.oficina-contato-social {
    position: absolute;
    z-index: 11;
    width: 100px;
    color: var(--titulos-color);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    top: 30%;

    .linha-horizontal {
        width: 1px;
        height: 85px;
        background: rgb(212, 130, 1);
    }

    .social-text {
        transform: rotate(-90deg);
        color: #fff;
        font-family: Oxanium;
        font-size: .8em;
        font-weight: 400;
        margin-top: 40px;
        font-family: 'PACE Italic';
    }

    a svg path {
        fill: white;
        transition: fill 0.3s ease;
    }

    a:hover svg path {
        fill: #FFFF00;
    }

}


/*--------------------------------------------------------------
  7. DESTAQUE
----------------------------------------------------------------*/
.oficina-destaque {

    >div {
        display: flex;
        justify-content: space-between;
    }

    .of-destaque {
        width: 30%;

        .num-item {

            display: flex;
            align-items: baseline;
            margin-bottom: 25px;

            h4 {
                padding-right: 15px;
                color: transparent;
                -webkit-text-stroke: 1px #FFFF00;
            }

            samp {
                flex-grow: 1;
            }


        }

        .destaque-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #000;
            padding: 45px 35px;
            text-align: center;
            font-size: 16px;
            height: auto;


            .destaque-icon span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                padding: 10px;
                background-color: rgb(212, 130, 1);
                margin-right: 10px;
                cursor: pointer;
                z-index: 1;
                position: relative;

            }

            .destaque-icon span::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100px;
                height: 100px;
                background: rgb(212, 130, 1);
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                animation: anima 1.5s infinite;
                z-index: 0;
            }

            .destaque-text {
                h4 {

                    font-size: 1em;
                    margin: 5% 0;
                }

                p {
                    color: var(--white-color);
                    font-size: .8em;
                }
            }
        }
    }

}

/*--------------------------------------------------------------
  8. PQ NOS ESCOLHER
----------------------------------------------------------------*/
.pq-escolher {

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }

    .pq-info {

        max-width: 605px;

        .pq-cabecalho {
            position: relative;
        }

        .texto-fundo {
            z-index: 9;
            opacity: 0.3;
            position: absolute;
            text-align: center;
            font-family: var(--titulos);
            font-size: 100px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: inline;
            background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animaTextoFundo 2.5s infinite alternate;
            /* Animação do texto de fundo */
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: rgba(46, 46, 46, 0.7960784314);
            -ms-background-size: 200px 100%;
            background-size: 200px 100%;
        }

        .pq-titulo {
            font-size: 2em;
            font-weight: 700;
            font-style: normal;
            margin-bottom: 10px;
            line-height: normal;
            text-transform: uppercase;
            color: var(--primary-color);
            z-index: 10;
            position: relative;
        }

        .pq-subtitulo {
            font-size: .9em;
            line-height: 1.5em;
            max-width: 600px;
            font-weight: 400;
            position: relative;
            z-index: 10;
            color: var(--white-color);
        }

        .pq-texto {
            margin-top: 5%;

            h3 {
                font-size: 1.2em;
                line-height: 2em;
                color: transparent;
                -webkit-text-stroke: 1px var(--primary-color);
                transition: all 0.3s;
                cursor: pointer;
                letter-spacing: .2em;
            }

            h3:hover {
                -webkit-text-stroke: 1px var(--titulos-color);
            }
        }

        .pq-btn {
            margin-top: 5%;
            padding: 20px 45px;
            display: inline-block;
            background-color: var(--primary-color);
            color: #D48201;
            font-size: 1em;
            font-weight: 500;
            border: none;
            text-transform: uppercase;
            transform-style: preserve-3d;
            transition: background-color 0.4s, transform 0.3s, color 0.3s;
            transform: translate3d(0, 0px, 0px);
        }

        .pq-btn:hover {
            transition: background-color 0.4s, transform 0.3s, color 0.3s;
            background-color: #D48201;
            color: var(--white-color);
            transform: translate3d(0px, -7px, 0.01px);
        }
    }

    .pq-img {
        max-width: 605px;
        position: relative;


        .circulo-img {
            position: absolute;
            bottom: 27px;
            left: -90px;
        }

    }

}


/*--------------------------------------------------------------
  9. KI-SERVIÇOS
----------------------------------------------------------------*/
.ki-servicos {

    >div {
        display: flex;
        justify-content: space-between;
    }

    .ki-servicos-cabecalho {
        width: 40%;

        .texto-fundo {
            z-index: 9;
            opacity: 0.3;
            position: absolute;
            text-align: center;
            font-family: var(--titulos);
            font-size: 90px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: inline;
            background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animaTextoFundo 2.5s infinite alternate;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: rgba(46, 46, 46, 0.7960784314);
            -ms-background-size: 200px 100%;
            background-size: 200px 100%;
        }

        .ki-servicos-titulo {
            font-size: 3em;
            letter-spacing: .2em;
            font-weight: 700;
            font-style: normal;
            line-height: .5em;
            text-transform: uppercase;
            color: #FFC107;
            z-index: 10;
            position: relative;

            span {
                font-size: 4em;
                color: var(--white-color);
                margin-top: 26px;
                margin-left: -15px;
                position: absolute;
                z-index: -5;
            }
        }

        .ki-servicos-subtitulo {
            font-size: .9em;
            line-height: 1.5em;
            max-width: 600px;
            font-weight: 400;
            position: relative;
            z-index: 10;
            color: var(--white-color);
            margin-top: 18%;
        }

        a {
            position: relative;
            top: 25px;
            display: inline-block;
            color: var(--white-color);
            font-size: 18px;
            min-width: 100px;
            text-transform: uppercase;
            margin-bottom: 6px;
        }

        a::after {
            content: "";
            position: absolute;
            display: inline;
            width: 70%;
            height: 2px;
            left: 0;
            bottom: -5px;
            opacity: 1;
            transition: all 0.5s;
            background-color: var(--primary-color);
        }

        a:hover {
            letter-spacing: 2px;
            color: var(--primary-color);
        }
    }

    .ki-servicos-itens {

        width: 50%;

        .servico {
            display: flex;
            flex-direction: column;
            gap: 60px;


            .ki-servicos-card {
                display: flex;
                align-items: center;
                gap: 30px;
                background: linear-gradient(90deg, var(--black-color) 0.34%, rgba(0, 0, 0, 0) 91.06%);

                a:nth-child(1) {
                    display: inline-block;
                    overflow: hidden;
                }

                a:nth-child(1):hover img {
                    transform: scale(1.5);
                }

                img {
                    transition: all 0.5s ease-in-out;
                    height: auto;
                    width: 100%;
                    object-fit: cover;
                    max-height: 325px;
                }

                img:hover {
                    width: 150%;
                }

                .servico-card-info {

                    max-width: 380px;

                    a:nth-child(1) {
                        font-size: 1.2em;
                        color: var(--white-color);
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: .9em;
                        line-height: 1.5em;
                        max-width: 600px;
                        font-weight: 400;
                        position: relative;
                        z-index: 10;
                        color: var(--white-color);
                        margin-top: 2%;
                    }

                    a:last-child {
                        position: relative;
                        display: inline-block;
                        color: var(--white-color);
                        font-size: 18px;
                        min-width: 100px;
                        text-transform: uppercase;
                        margin-top: 15px;
                    }

                    a:last-child:hover {
                        letter-spacing: 2px;
                        color: var(--primary-color);
                    }

                    a:last-child::after {
                        content: "";
                        position: absolute;
                        display: inline;
                        width: 70%;
                        height: 2px;
                        left: 0;
                        bottom: -5px;
                        opacity: 1;
                        transition: all 0.5s;
                        background-color: var(--primary-color);
                    }
                }


            }


        }

    }

}

/*--------------------------------------------------------------
  10. OF-VIDEO
----------------------------------------------------------------*/
.of-video {
    height: 650px;
    width: 100%;
    overflow: hidden;

    a {
        background-image: url(../img/car_video_bg.jpg);
        display: block;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .btn {
        position: relative;
        z-index: 10;
        cursor: pointer;
        top: 45%;
        left: 50%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
        justify-content: center;
    }

    .btn span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 26px solid currentColor;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        color: #fff;
    }
}

/*--------------------------------------------------------------
  11. OF NUMEROS
----------------------------------------------------------------*/
.of-numeros {

    >div {
        display: flex;
        justify-content: space-around;
    }

    .item {
        width: 33.33333333%;
        text-align: center;

        .numero {

            span {
                line-height: 1.2em;
                font-size: 3em;
                color: transparent;
                -webkit-text-stroke: 1px var(--primary-color);
            }
        }

        .numero-texto {
            color: #fff;
            font-weight: 700;
            line-height: normal;
            font-size: 1em;
            text-transform: uppercase;
        }
    }
}

/*--------------------------------------------------------------
  12. MARCAS
----------------------------------------------------------------*/
.marcas {

    h4 {
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    div div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 50% !important;

    }


}

/*--------------------------------------------------------------
  13. DEPOIMENTO
----------------------------------------------------------------*/
.of-depo {


    .of-cabecalho {

        .texto-fundo {
            z-index: 9;
            opacity: 0.3;
            position: absolute;
            text-align: center;
            font-family: var(--titulos);
            font-size: 90px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: inline;
            background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animaTextoFundo 2.5s infinite alternate;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: rgba(46, 46, 46, 0.7960784314);
            -ms-background-size: 200px 100%;
            background-size: 200px 100%;
        }

        h2 {
            font-size: 2em;
            font-weight: 700;
            font-style: normal;
            margin-bottom: 10px;
            line-height: normal;
            text-transform: uppercase;
            color: var(--primary-color);
            z-index: 10;
            position: relative;
        }

    }

    .depo {

        position: relative;
        max-width: 1366px;

        .slide-depo {
            z-index: 10;
        }


        .depo-box {

            display: flex;
            height: 100%;
            align-items: flex-end;
            justify-content: space-between;

            .depo-info {
                z-index: 2;
                padding: 40px;
                width: 50%;

                .depo-titulo {
                    display: flex;
                    justify-content: space-between;

                    p {
                        color: var(--white-color);
                        margin-bottom: 30px;
                    }

                    .icon {
                        margin-top: -50px;
                    }

                }

                .depo-descricao {

                    h4 {
                        font-family: var(--fontNoCorpo);
                        font-size: 1em;
                        margin-bottom: 40px;
                        line-height: 2em;
                    }

                }

                .depo-estrelas {
                    display: flex;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .depo-img {
            position: absolute;
            right: -40px;
            top: 90px;
            z-index: 0;
        }


    }


    .slide-depo {

        /* Arrows */
        .slick-prev,
        .slick-next {
            position: absolute;
            top: -16%;
            z-index: 10;

            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            font-size: 1em;
            background-color: transparent;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 0.3s ease;
        }

        .slick-prev {
            left: inherit;
            right: 40px
        }

        .slick-prev:before {
            content: '→';
        }

        [dir='rtl'] .slick-prev:before {
            content: '←';
        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 50px;
            opacity: 1;
            color: #FFFF00;
        }

        .slick-next {
            right: 140px;
        }

        .slick-next:before {
            content: '←';
        }

        [dir='rtl'] .slick-next:before {
            content: '→';
        }


    }


}

/*--------------------------------------------------------------
  14. EQUIPE
----------------------------------------------------------------*/
.equipe {
    position: relative;

    >div {
        display: flex;
        gap: 80px;
    }

    .equipeCabecalho {
        width: 340px;

        .texto-fundo {
            z-index: 9;
            opacity: 0.3;
            position: absolute;
            text-align: center;
            font-family: var(--titulos);
            font-size: 75px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: inline;
            background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animaTextoFundo 2.5s infinite alternate;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: rgba(46, 46, 46, 0.7960784314);
            -ms-background-size: 200px 100%;
            background-size: 200px 100%;
        }


        h2 {
            font-size: 1.8em;
            font-style: normal;
            margin-bottom: 10px;
            line-height: normal;
            text-transform: uppercase;
            color: var(--primary-color);
            top: 12px;
            position: relative;
            z-index: 10;
        }

        p {
            color: var(--white-color);
            font-size: .8em;
            font-style: normal;
            max-width: 600px;
            font-weight: 400;
            line-height: 24px;
            position: relative;
            z-index: 10;

        }

        a {
            position: relative;
            top: 25px;
            display: inline-block;
            color: var(--white-color);
            font-size: 18px;
            min-width: 100px;
            text-transform: uppercase;
            margin-bottom: 6px;
        }

        a::after {
            content: "";
            position: absolute;
            display: inline;
            width: 70%;
            height: 2px;
            left: 0;
            bottom: -5px;
            opacity: 1;
            transition: all 0.5s;
            background-color: var(--primary-color);
        }

        a:hover {
            letter-spacing: 2px;
            color: var(--primary-color);
        }
    }

    .equipeSlide {

        display: flex;
        justify-content: space-between;

        .card-oficina {

            .equipeFoto {
                position: relative;
                width: 280px;
                height: 300px;
                max-width: 100%;
                max-height: 100%;
                background-repeat: no-repeat;
                margin: 0 10px;
            }

            .equipe-info {
                position: absolute;
                background: #000;
                bottom: -40px;
                padding: 23px 0px;
                width: 76%;
                height: 135px;
                margin: 0 12%;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                border-bottom: 1px solid #FFFF00;
                text-align: center;


                .equipe-titulo {
                    a {
                        cursor: pointer;
                        font-size: 20px;
                        color: var(--primary-color);
                        font-weight: 700;
                        font-family: var(--heading-font-family);
                    }

                    p {
                        top: 65px;
                        opacity: 1;
                        position: absolute;
                        color: #fff;
                        right: 0;
                        transition: all 0.5s ease-in-out;
                    }

                }

                .equipe-info-social {
                    opacity: 0;
                    position: relative;
                    top: 25px;
                    left: 0;
                    transition: all 0.5s ease-in-out;
                    width: 100%;
                    display: flex;
                    gap: 10px;
                    justify-content: center;


                    a {
                        width: 30px;
                        height: 26px;
                        cursor: pointer;
                        border: 1px solid #fff;
                        padding: 2px 4px;
                        display: inline-block;
                    }

                    a:hover {
                        cursor: pointer;
                        border: 1px solid #FFFF00;
                        background-color: #D48201;
                    }


                }
            }

            /* Quando o mouse passar sobre a equipe */
            :hover .equipe-info p {
                animation: entrarDeslizeDireita 0.5s forwards;
            }

            :hover .equipe-info-social {
                opacity: 1;
                animation: entrarDeslizeEsquerda 0.5s forwards;
            }

            /* Quando o mouse sair da equipe (reverte as animações) */
            :not(:hover) .equipe-info p {
                animation: slideInLeft 0.5s forwards;
            }

            :not(:hover) .equipe-info-social {
                animation: slideOutLeft 0.5s forwards;
            }
        }



    }

}

/*--------------------------------------------------------------
  15. BLOG
----------------------------------------------------------------*/
.blog {

    .blogCabecalho {
        text-align: center;

        .texto-fundo {
            z-index: 9;
            opacity: 0.3;
            left: 25%;
            position: absolute;
            font-family: var(--titulos);
            font-size: 5em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: inline;
            background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animaTextoFundo 2.5s infinite alternate;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: rgba(46, 46, 46, 0.7960784314);
            -ms-background-size: 200px 100%;
            background-size: 200px 100%;
        }


        h2 {
            font-size: 2em;
            font-style: normal;
            margin-bottom: 10px;
            line-height: normal;
            text-transform: uppercase;
            color: var(--primary-color);
            top: 12px;
            position: relative;
            z-index: 10;
        }

        p {
            color: var(--white-color);
            font-size: .8em;
            font-style: normal;
            max-width: 600px;
            margin: 0 auto;
            font-weight: 400;
            line-height: 24px;
            position: relative;
            z-index: 10;

        }

        a {
            position: relative;
            top: 25px;
            display: inline-block;
            color: var(--white-color);
            font-size: 18px;
            min-width: 100px;
            text-transform: uppercase;
            margin-bottom: 6px;
        }

        a::after {
            content: "";
            position: absolute;
            display: inline;
            width: 70%;
            height: 2px;
            left: 0;
            bottom: -5px;
            opacity: 1;
            transition: all 0.5s;
            background-color: var(--primary-color);
        }

        a:hover {
            letter-spacing: 2px;
            color: var(--primary-color);
        }
    }

    .list-post {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 80px;

        .post {

            .blog-cabecalho-info {
                margin-bottom: 25px;
                width: 100%;
                flex-shrink: 0;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transition: all 0.5s ease-in-out;
                }
            }

            .blog-corpo-info {
                p {
                    color: var(--white-color);
                    font-size: .8em;
                    margin: 0px;
                    padding: 0px;
                    font-weight: 400;
                    line-height: 24px;
                }

                a {
                    font-size: 1em;
                    font-family: var(--titulos);
                    color: #fff;
                }

                a:hover {
                    color: var(--primary-color);
                }

            }

            .blog-rodape-info {
                a {
                    position: relative;
                    top: 25px;
                    display: inline-block;
                    color: var(--white-color);
                    font-size: 18px;
                    min-width: 100px;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }

                a:hover {
                    letter-spacing: 2px;
                    color: var(--primary-color);
                }

                a::after {
                    content: "";
                    position: absolute;
                    display: inline;
                    width: 70%;
                    height: 2px;
                    left: 0;
                    bottom: -5px;
                    opacity: 1;
                    transition: all 0.5s;
                    background-color: var(--primary-color);
                }
            }

        }

        .post:hover {
            img {
                transform: scale(1.2);
            }
        }


    }



}

/*--------------------------------------------------------------
  16. RODAPE
----------------------------------------------------------------*/
.rodape {


    .rodape-email {

        .texto-fundo {
            z-index: 9;
            opacity: 0.3;
            left: 25%;
            position: absolute;
            font-family: var(--titulos);
            font-size: 5em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: inline;
            background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animaTextoFundo 2.5s infinite alternate;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: rgba(46, 46, 46, 0.7960784314);
            -ms-background-size: 200px 100%;
            background-size: 200px 100%;
        }

        .email {
            position: relative;
            z-index: 10;
            top: 46px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;

            h5 {
                width: 60%;
                font-size: 1.2em;
            }

            form {


                display: flex;
                gap: 30px;
                padding-bottom: 16px;
                border-bottom: 1px solid var(--primary-color);

                input {
                    color: #fff;
                    background-color: transparent;
                    border: 0;
                    font-size: 1em;


                }

                input:focus {
                    outline: none;
                }

                button {
                    cursor: pointer;
                    background-color: #D48201;
                    position: relative;
                    overflow: hidden;
                    padding: 8px 13px;
                    border: 0px;
                }


            }
        }

    }

    .linha-rodape {
        margin: 150px 0;
        width: 100%;
        height: 1px;
        opacity: 0.35;
        background: var(--primary-color);
    }

    .rodape-conteudo {
        display: flex;
        justify-content: space-between;
        color: #fff;

        >div {
            width: 20%;
        }


        .rodape-logo {
            width: 35%;

            img {
                width: 50%;
                margin-bottom: 40px;
            }

            p {
                text-align: left;
                font-size: .8em;
            }
        }
    }



}

.footer.style-1 .footer-content {
    color: #fff !important;
}

.common-page-title {
    color: #fff;
}

.service-card-style-2 .service-desp .desp {
    color: #fff;
}


/*--------------------------------------------------------------
  17. PG CONTATO 
----------------------------------------------------------------*/
.pg-contato-oficina {
    color: #fff;
}


/*--------------------------------------------------------------
  18. MODAL 
----------------------------------------------------------------*/

.modalLogin {

    .fs-5 {
        color: #000 !important;
    }


    .modal-content {
        background-color: rgba(255, 255, 0, 0.7);
    }

}


/*--------------------------------------------------------------
  . ANIMAÇÕES
----------------------------------------------------------------*/
/* Animação da bolinha no telefone */
@keyframes anima {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

/* Animação do texto */
@keyframes animaTextoFundo {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

/* Keyframes para animar o texto saindo para a direita */
@keyframes entrarDeslizeDireita {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Keyframes para animar as redes sociais vindo da esquerda */
@keyframes entrarDeslizeEsquerda {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Keyframes para animar as redes sociais vindo da esquerda */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Keyframes para as redes sociais saírem para a esquerda */
@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}